In [1]:
import requests
import pandas as pd
import pprint
import re
import datetime
import json
import openpyxl
import progressbar
import pymongo
from time import sleep
from tqdm import tqdm
from time import sleep
import traceback
import math

### Conexión mongo

In [2]:
#The mongo connection is initiated
mongoClient = pymongo.MongoClient("mongodb://profiling:NN5d7zpPpLE3ImCLWEX11ERpHLmJ80@172.22.112.58:27020/admin")

horus = mongoClient["horus"]
#company_profiles = horus["company_profiles"]
#sr_logs = horus['log_scoring_recommender']
users = horus["users"]
#people = horus["people2"]

In [3]:
clients = pd.read_csv(r'Base ajuste home 20250603.csv',encoding='latin-1')

In [4]:
clients.head()

   SUBSCRIBER_ID  OLD_QUOTA  NEW_QUOTA  INCREASE
0    50215491098   Q215.00    Q225.00    Q10.00
1    50216035917   Q255.00    Q265.00    Q10.00
2    50211502149   Q299.00    Q314.00    Q15.00
3    50214619231   Q239.00    Q249.00    Q10.00
4    50214286390   Q440.00    Q465.00    Q25.00

In [5]:
for index in tqdm(range(len(clients))):
    try:
        query = {
            "_id":str(int(clients.at[index,'SUBSCRIBER_ID']))
        };
        toUpdate = {"$set":{
            "temp_change_offer.old_quota":str(clients.at[index,'OLD_QUOTA']),
            "temp_change_offer.new_quota":str(clients.at[index,'NEW_QUOTA']),
            "temp_change_offer.increase":str(clients.at[index,'INCREASE'])
        }
        }
        users.update_one(query, toUpdate)
    except Exception:
        traceback.print_exc()
        #print(clients.at[index,'MSISDN'])
    #print(query)

100%|██████████| 346012/346012 [58:35<00:00, 98.42it/s]